header {
 display: flex;
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 position: fixed;
 align-items: center;
 z-index: 1;
 width: 100%;
 height: 80px;
 border-bottom: 1px solid black;
 background-color: white;
}

.separate1 {
  color: MediumAquamarine;
}


.a {
  display: inline-block;
  color: red;
  padding-left: 1500px;
}

.logo {
  display: flex;
    align-items: center;
    padding-left: 30px;
}

.narrative {

}

.narrative2 {

}

.narrative3 {

}
.column.large {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: flex-start;
}

.column.medium {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  margin-right: 32px;

}

.image-content {
 border-bottom: thin solid black;
}

.leadstory {
  width: 30%;
  border-right: medium solid black;
  height: 30%;
  border-top: medium solid black;
  border-left: medium solid black;
}

.story {
  border-top: thick solid black;
  border-right: thick solid black;
  border-left: thick solid black;
  border-bottom: Medium solid black;
  width: 30%;
}

.fall-cancelled.image-content {
  border-top: medium solid black;
  border-bottom: none;
  height: auto;
}

.story2 {
  border-right: thick solid black;
  border-left: thick solid black;
  border-top: thin solid black;
  width: 30%;
}

.pop-culture.image-content {
  border-top: medium solid black;
  border-bottom: medium solid black;
}

.text-content {


}
